    <form [formGroup]="form">
      <div class="row">

        <div class="col-sm-6">
          <div class="mb-3">
            <label for="nomComplet" class="form-label">Nom complet</label>
            <input type="text" class="form-control form-control-lg" id="nomComplet" placeholder="Nom complet" formControlName="matricule">
          </div>
        </div>

          <div class="row mb-3">
        <div class="col-sm-4">
          <label for="dateMin" class="form-label">Date minimum</label>
          <input type="date" id="dateMin" class="form-control" [(ngModel)]="dateMin">
        </div>
        <div class="col-sm-4">
          <label for="dateMax" class="form-label">Date maximum</label>
          <input type="date" id="dateMax" class="form-control" [(ngModel)]="dateMax">
        </div>
        <div class="col-sm-4 d-flex align-items-end">
          <button class="btn btn-primary" (click)="searchByDate()">Rechercher</button>
        </div>
      </div>
      
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="matricule" class="form-label">Matricule</label>
            <input type="text" class="form-control form-control-lg" id="matricule" placeholder="Matricule" formControlName="matricule">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control form-control-lg" id="email" placeholder="Email" formControlName="email">
          </div>
        </div>

             <!-- Notes -->
      <div class="col-sm-4 mb-3">
        <label for="notes" class="form-label">Notes<small style="color: red;">*</small></label>
        <input type="number" class="form-control form-control-lg" id="notes" placeholder="notes"
               formControlName="notes">
      </div>


        <div class="col-sm-6">
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" class="form-control form-control-lg" id="description" placeholder="Description" formControlName="description"></textarea>
          </div>
        </div>


        <div class="col-sm-6">
          <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control form-control-lg" id="age" placeholder="Age" formControlName="age">
          </div>
        </div>


        <div class="col-sm-6">
          <div class="mb-3">
            <label for="dateNaissance" class="form-label">Date</label>
            <input type="date" class="form-control form-control-lg" id="dateNaissance" placeholder="Date de naissance" formControlName="dateNaissance">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="mb-3">
            <label for="heure" class="form-label">Heure</label>
            <input type="time" class="form-control form-control-lg" id="heure" placeholder="Heure" formControlName="heure">
          </div>
        </div>

      <div class="col-md-6 col-sm-12 mb-3">
        <label class="form-label">Sexe</label>
        <div class="d-flex gap-3">
          <div *ngFor="let option of sexe">
            <input 
              type="radio" 
              [id]="option.name" 
              [value]="option.name" 
              formControlName="sexe"
              name="sexe">
            <label [for]="option.name">{{ option.description }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 mb-3">
        <label class="form-label">Preferences</label>
        <div class="d-flex gap-3">
          <div *ngFor="let option of preferences; let i = index">
            <input type="checkbox" [id]="option.name" [value]="option.name" (change)="onCheckboxChange($event)"
              name="preferences">
            <label [for]="option.name">{{ option.description }}</label>
          </div>
        </div>
      </div>

          <div class="mb-3">
  <label class="form-label">Pays de résidence</label>
  <div style="width: 370px;">
    <mat-form-field class="w-100">
      <mat-select formControlName="pays" multiple placeholder="Sélectionner un ou plusieurs pays">
        <mat-option *ngFor="let pays of listePays" [value]="pays">
          {{ pays }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

       
        <div class="col-sm-4">
          <div class="mb-3"> 
            <label for="telephone" class="form-label">Téléphone</label>
            <input type="text" class="form-control form-control-lg" id="telephone" placeholder="Téléphone" formControlName="telephone">
          </div>
      </div>

    </div>
      
  </form>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
      <button type="button" class="btn btn-primary" (click)="update()">Modifier</button>
    </div>