@import '../login/login.component.scss';

.success-message {
  text-align: center;
  padding: 2rem 0;
}

.success-icon {
  font-size: 4rem;
  width: 4rem;
  height: 4rem;
  color: #4caf50;
  margin-bottom: 1rem;
}

.success-message p {
  margin: 0.5rem 0;
}

